<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.superdrive.lockScreenManager"
      version="1.0.0">
    <name>LockScreenManager</name>
    <description>Locks and unlocks the screen</description>
    <license>MIT</license>
    <keywords>phonegap,screen, lock</keywords>
 
 
    <js-module src="www/lockScreenManager.js" name="LockScreenManager">
        <clobbers target="window.lockScreenManager" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LockScreenManager">
                <param name="android-package" value="com.superdrive.plugins.LockScreenManager"/>
            </feature>
			<feature name="GlobalTouchService">
                <param name="android-package" value="com.superdrive.plugins.GlobalTouchService"/>
            </feature>
        </config-file>
 
        <source-file src="src/android/LockScreenManager.java" target-dir="src/com/superdrive/lockScreenManager" />      
		<source-file src="src/android/GlobalTouchService.java" target-dir="src/com/superdrive/lockScreenManager" />      
		
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<service android:name="GlobalTouchService">
			</service>
		</config-file>
		
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
			<uses-permission android:name="android.permission.GET_TASKS" />
		</config-file>
		
     </platform>          
</plugin>